body{
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.nav p{
    display: inline;
    font-size: 11px;
    color:white;
    display: flex;
    justify-content: center;
}

.nav .ulNav{
    margin-right: 2%;
}
.nav .pNav{
    width: 10%;
    margin-left: 5%;
}

.nav .facebook{
    margin-right: 20%;
}

.nav .navInput{
    align-items: center;
    display: flex;
    padding-left: 20%;
    justify-content: space-between;
    margin-right: 40%;
}

.nav input{
    width: 150%;
    margin-top: 5%;
}

.nav li{
    padding-right: 20px;
    white-space: nowrap;
    display:inline;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color:white;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #3b5998  
}

.content{
    border: solid black 1px;
}

.first{
    width:20%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top:1%;
    vertical-align: top;
    display: inline-block;
}

.second{
    vertical-align: top;
    width:50%;
    display: inline-block;
}

.third{
    margin-left: 1%;
    width:20%;
    display: inline-block;
}

.first img{
    width:60px;
    height:60px;
}

.head{
    display: flex;
    justify-content: center;
}

.first a{
    text-decoration: none;
    color: black;
}

 ul{
    list-style-type: none;
}

.body{
    word-wrap: break-word;
    margin-left: 15%;
}

.body ul{
    padding-left: 2px ;
}

.search{
    word-wrap: break-word;
    margin-left: 15%;
}

.body li{
    transition: .5s;
    padding: 2%;
}

.body li:hover{
    width: 100%;
    color:white;
    background-color: rgb(179, 180, 206);
}


.search input{
    height: 20px;
    padding-left: 2px;
    border:solid 1px #ccc;
    border-radius: 10px;
    width: 80%;
}

.second{
    margin-bottom: 2%;
    border-left: solid black 2px;
    padding-left: 1%;
}

.top{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 2px;
}

 input:focus{
    outline: none;
}

.second a{
    text-decoration: none;
}

.list ul{
    display: inline-block;
    padding: 5px;
}

.list li{
    padding: 20px;
    display:inline;
}

.second input{
    height:25px;
    width: 100%;
    padding-left: 2px ;
    border:solid 1px #ccc;
}

.bottom{
    display: flex;
    border-bottom: solid black 2px;
}

.bottom .image{
    margin-top: 2%;
    margin-left: 2%;
}

.bottom img{
    margin-left: 10%;
    width:50px;
    height:50px;
}

.bottom .text{
    margin-left:10%;
}

.text{
    width: 100%;
}

.text .feedback{
    color:white;
    background-color: rgb(103, 171, 202);
}

.third .up{
    margin-top: 34%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 180, 206);
}

.up p{
    margin-left: 1%;
}

.up a{
    text-decoration: none;
    margin-right: 1%;
}

.thirdSearch input{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    height:25px;
}



.friends{
    margin-left: 1%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.friends img{
    margin-left: 40%;
    width: 50px;
    height: 50px;
}

.friends a{
    text-decoration: none;
}

.friends .bigText{
    font-size: 20px;
    margin-bottom: 5%;
}

.sponsorImage{
    margin-top: 2%;
    display: flex;
    align-content: center;
}

.sponsorImage img{
    margin: 0 auto;
    width: 100px;
}

.chat{
    display: flex;
    justify-content: center;
}

.chat p{
    width: 100%;
    border: solid black 2px;
}

